
/*
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    height: 100vh; /* Full viewport height */



/* General body styling */

#display-box{
    background-color: white;
    
} 


#run-details {
    background-color: white;
}

/* Map container - full width and height */
#map {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: absolute;
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    z-index: -1; /* Behind the controls */
}

